body {
    font-family: 'Alegreya Sans', serif;
}

h3, h2 {
    font-family: 'Alegreya', serif;
    font-size: 30px;
}

p {
    font-family: 'Alegreya', serif;
    font-size: 20px;
}

.coffe-shop-image {
    background-image: url('/static/img/cover_page_image.jpeg');
    background-size: cover;
    background-position: center center;
    }

.coffe-shop-image-text {
    color: white;
    margin-bottom: 0px;
    padding-top: 0px;
}

.coffe-shop-image-button {
    margin-top: 130px;
}

.coffe-navbar-text {
    color: white;
    font-size: 20px;
}

.image-div-height {
    height: 800px;
}

.three-features-center {
    text-align: center;
}