{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add Page{% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/add_coffe_shop.css')}}">
{% endblock %}

{% include "header.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center add-coffe-shop-image" style="background-image: url('{{ url_for('static', filename='img/add-coffe-shop-bg.jpg')}}')">
    <div class="container">
        <div class="row add-title">
            <h1>Add Coffe Shop</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
            {% with messages = get_flashed_messages() %}
                {% if messages: %}
                    {% for message in messages: %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

{% endblock %}