{% extends 'base.html' %}
{% block title %}London Coffee Shop{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/coffee_shop_page.css')}}">
{% endblock %}

{% include 'header.html' %}
{% block content %}

<div class="d-flex justify-content-center align-items-center selected-coffe-shop-image" style="background-image: url('{{coffee_data.img_url}}')">
    <div class="container">
        <div class="row coffee-name">
            <h1>{{coffee_data.name}}</h1>
        </div>
    </div>
</div>


{% endblock %}